.bg-mibio{ background-color: #5AA1E3; }
/* .bg-mibio{ background-color: #B83F0D; } */
#logo {
        position: absolute;
        /* display:flex; */
    top: 20px;
}
#logotext {
        /* position: absolute; */
        /* display:flex; */
    margin-left: 50px;
}


/* body { */
/*     padding-top: 200px; /* Whatever the height of your navbar is; the */
/*                              default is 50px */ */
/* } */


#sp-page-builder .sppb-section-title h3 {
  margin-bottom: 2px !important;
  border-bottom: 4px solid #27405e !important;
}

/*.latest-posts > div:nth-of-type(odd) > div:nth-of-type(odd) > div:nth-of-type(odd) > div:nth-of-type(odd) {*/
  /*background: #dedede;*/
/*}*/


.nav-links a {
  color: #9a9a9a;
}

.sp-dropdown-main {
  margin-top: 17px !important;
}

.sp-megamenu-parent .sp-dropdown .sp-dropdown-items {
    margin: -5px !important;
}

.sticky .sp-megamenu-parent .sp-dropdown.sp-dropdown-main {
    margin-top: 0px !important;
}

.srfrContainer {
  color: #9a9a9a;
  font-size: 12px;
  padding: 10px;
}

.sppb-addon-module ul >li >a:hover {
  color: #dedede
}

.btn-flex.sppb-btn-outline, .sppb-btn-flex.sppb-btn-outline {
  color: #27405e;
}

#sp-footer {
  padding: 0px !important;
}

#sp-footer {
  background-color: #3b6ba2 !important;
}

#sp-header #sp-menu .sp-column .sp-megamenu-parent > li > a {
  padding: 7px;
  font-size: 14px;
}

#sp-header #sp-menu {
  padding-left: 5px;
  padding-right: 5px;
  width: 75%;
  margin-top: 50px;
}

#sp-topsearch {
  padding: 0px 0px 0px 0px;
  margin: -78px -15px 0px 0px;
}

#sp-topsearch .sp-module-content, #sp-topsearch .top-search-wrapper, #sp-topsearch .i.pe{
    height: 30px !important;
    margin: 0px 0px 0px 0px;
}

#sp-topsearch .i.pe{
    height: 30px !important;
    margin: -20px 0px 0px 0px;
}

#sp-topsearch .icon-top-wrapper{
    height: 30px !important;
    margin: 0px 0px 0px 0px;
    line-height: 29px !important;
}

#sp-topsearch .top-search-input-wrap .top-search-wrap .sp_search_input input {
    height: 29px;
    font-weight: normal;
    border: 1px solid #d3deee5c;
    margin: -74px 0px 0px -13px;
    width: 99%;
}

.top-search-wrapper .icon-top-wrapper i.pe.search-close-icon.open {
    font-size: 22px;
    margin: -72px 0px 0px 36px !important;
}

.sticky #sp-topsearch {
    padding: 0px 0px 0px 0px;
    margin: -65px -15px 0px 0px;
}

.sticky .sp_search_input input {
    margin: -84px 0px 0px -13px !important;
}


#sp-header #sp-menu .sp-menu-item >a >img {
  margin: -2px 5px 0 0;
}

.offlajn-ajax-search-inner > input {
  border-radius: 0px !important;
}

*[id^='offlajn-ajax-search'] {
  width: 100% !important;
  margin-top: 10px;
}

#fading-header #sp-header #sp-menu .sp-column .sp-megamenu-parent > li > a {
  color: #000000 !important;
}

#fading-header #sp-header #sp-menu {
  max-height: 70px;
  margin-top: 0px;
}

.sppb-addon-cta .sppb-btn i {
  margin-right: -75px;
}

.ap-modal-login .ap-login a {
  background-color: #27405e !important;
  color: #ffffff !important;
  padding: 4px 12px;
}

.pe-7s-search:before {
    background-color: #27405e;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    line-height: 25px !important;
}

.sticky .pe-7s-search:before {
    line-height: 25px !important;
}

#fading-header.sticky .sp-has-child:hover >.sp-dropdown {
  margin-top: -12px;
}

.flex .latest-post .latest-post-item .latest-post-inner h2.entry-title {
  /*height: 45px;*/
}

.sp-retina-logo, .sp-default-logo {
  padding: 0px !important;
  max-width: 110% !important;
}

.sppb-btn-default {
  background-color: #00000066;
  border: 4px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  padding: 12px 25px;
  font-size: 18px;
}

@media screen and (min-width: 480px) {
  .sppb-section-title h4, .banner-heading > div > h4, .banner-heading > div > h4 > span {
    margin-left: 200px;
    margin-right: 200px;
    font-size: 24px !important;
  }
}


/*  GENERAL */
.current_trainings ul.category-module >li a.mod-articles-category-title {
    color: #2196f3 !important;
    font-size: large !important;
}

.current_trainings ul.category-module >li .mod-articles-category-group {
    margin: 15px 0px 15px 0px !important;
    font-size: 25px !important;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px), only screen and (max-width: 768px) {
    #sp-header .top-search-wrapper .icon-top-wrapper i.fa, #sp-header .top-search-wrapper .icon-top-wrapper i.pe {
        line-height: 0px !important;
        height: 30px;
        margin: 30px 0px 0px -80px !important;
    }
    .sticky #sp-topsearch {
        padding: 0px 0px 0px 0px;
        margin: -23px -15px 0px 0px;
    }
    .sticky #offcanvas-toggler{
        margin-top: -43px !important;
    }
    .h3a-slogan {
        margin: 10px 0px 0px 91px;
        max-width: 150%;
    }
    .sp-megamenu-wrapper #offcanvas-toggler, .sp-megamenu-wrapper > .sp-megamenu-parent >li >a {
        height: 28px !important;
        margin: -128px -88px 0px 0px;
    }
    #section-id-1477904144678.homepage .sppb-title-heading {
        margin-top: 0;
        font-size: 28px !important;
        line-height: 36px !important;
        border: 0;
        background-color: #00000021;
        background-color: #00000052;
        border: 0px solid #ffffff;
        border-radius: 10px;
        color: #ffffff !important;
        padding: 12px 25px;
        font-size: 31px;
        font-weight: 400 !important;
    }
    #sp-header {
        width: 100%;
        height: 85px !important;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        margin-bottom: -6px;
        border-bottom: 2px #688dbe solid;
    }
    .sppb-row {
        display: initial;
    }
    .quick_links .sppb-col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 100%;
        padding: 0px 10px 0px 10px !important;
    }
    #sp-page-builder .page-content .sppb-section:first-child {
        margin-top: -4px;
        padding: 40px 0px 20px 0px;
        height: 200px;
    }
    .sp-page-builder .page-content #intro {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
        margin-top: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        background-color: rgba(166, 163, 163, 0.1) !important;
        height: 800px;
    }
    .sppb-addon h3.sppb-addon-title {
        margin: 0px 0px 20px 0px !important;
        width: 100% !important;
        box-shadow: none !important;
        display: inline-table;
        line-height: 1.4;
        font-weight: normal !important;
        font-size: 30px !important;
        padding: 30px 3px 5px 0px !important;
        text-align: center;
    }
    .home_title h3.sppb-addon-title {
        margin: 0px 0px 20px 0;
        width: auto;
        padding-right: 30px;
        padding-top: 10px;
        display: inline-table;
        line-height: 1.6;
        font-size: 21px !important;
    }
    .sp-page-builder .page-content #focus_activities {
        padding: 0px 0px 50px 0px !important;
        margin: 0px 0px 545px 0px !important;
    }
    .focus_content ul >li >a {
        display: block;
        padding: 5px 0;
        line-height: 30px !important;
        padding: 2px 0;
        -webkit-transition: 300ms;
        transition: 300ms;
    }
    .sp-page-builder .page-content #updates {
        margin-top: -170px !important;
        margin-bottom: -130px !important;
    }
    #sp-footer3 .sppb-img-responsive {
        width: 70%;
    }
    #sp-footer3 .page-content {
        margin-left: 0px !important;
    }
    #sp-footer3 .sppb-text-right, #sp-footer3 .sppb-text-left {
        text-align: center;
    }
    /*#sp-footer3{*/
        /*height: 100px;*/
    /*}*/
    #sp-footer2 .sppb-text-right, #sp-footer2 .sppb-text-left {
        text-align: center;
    }
    .bt_footer {
        display: none;
    }
    #sp-footer .sponsor_logos {
        display: inline-flex;
    }
    .sponsor_logos img {
        margin: 10px 0px 0px 0px;
        padding: 0px 10px;
        height: 25px;
    }
    .social_btt_footer1{
        height: 6px;
        margin-top: 0px;
    }
    #footer1 .foot{
        float: right;
        margin-bottom: -65px;
    }
    #affiliations{
        text-align: center;
    }
    #affiliations .affiliations{
        display: inline-flex;
    }
    #affiliations .affiliations img {
        padding: 0px 7px;
        height: 25px;
    }
    .sp-page-builder .page-content #affiliations {
        margin-top: -30px !important;
        margin-bottom: -10px !important;
    }
    #sp-header .col-xs-9{
        width: 50%;
    }
}

/* TODO Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* TODO Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #sp-header .top-search-wrapper .icon-top-wrapper i.fa, #sp-header .top-search-wrapper .icon-top-wrapper i.pe {
        line-height: 68px;
        height: 30px;
    }

    a.logo .sp-default-logo {
        height: 77px;
    }

    a.logo .sp-retina-logo {
        height: 82px;
        max-width: 130% !important;
        margin-top: -16px;
    }
    .h3a-slogan {
        margin: -54px 0px 0px 338px;
        max-width: 133%;
    }
    .sp-megamenu-wrapper #offcanvas-toggler, .sp-megamenu-wrapper > .sp-megamenu-parent > li > a {
        height: 28px !important;
    }
    #section-id-1477904144678.homepage .sppb-title-heading {
        margin-top: 0;
        font-size: 37px !important;
        line-height: 60px !important;
        margin-bottom: 15px;
        border: 0;
        background-color: #00000021;
        background-color: #00000052;
        border: 0px solid #ffffff;
        border-radius: 10px;
        color: #ffffff !important;
        padding: 12px 25px;
        font-size: 31px;
        font-weight: 400 !important;
    }
    .sppb-addon h3.sppb-addon-title {
        margin: 0px 0px 20px 0px !important;
        width: 100% !important;
        box-shadow: none !important;
        display: inline-table;
        line-height: 1.4;
        font-weight: normal !important;
        font-size: 30px !important;
        padding: 0px 30px 5px 0px !important;
    }
    #sp-header {
        width: 100%;
        height: 85px !important;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        margin-bottom: 0px;
        border-bottom: 2px #688dbe solid;
    }
    .focus_all{
        display: inline-flex;
        width: 100%;
    }
    .quick_links .sppb-col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0px 0px 0px 10px !important;
    }
    .sp-page-builder .page-content #section-id-1477904144678 {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 30px;
        padding-left: 0px;
        margin-top: -4px !important;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        color: rgba(94, 198, 219, 1);
        background-image: url(/images/banners/H3ABioNet-AGM_Entebbe-2017_group_picture_website.jpg) !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: 50% 0;
    }
    #sp-page-builder .page-content .sppb-section:first-child.homepage {
        margin-top: -4px !important;
        padding: 120px 0px 30px 0px;
        height: 400px;
    }
    #sp-page-builder .page-content .sppb-section:first-child {
        margin-top: -1px !important;
        padding: 60px 0px 20px 0px;
        height: 200px;
    }
    #sp-page-builder .sppb-section-title {
        margin-top: 3%;
    }
    .home_title h3.sppb-addon-title {
        margin: 0px 0px 20px 0;
        width: auto;
        padding-right: 30px;
        padding-top: 10px;
        box-shadow: inset 0px 1px 0 #ddd;
        /* box-shadow: inset 0px 1px 0 #ddd; */
        display: inline-table;
        line-height: 1.6;
        font-size: 29px !important;
    }
    #sp-footer3 .sppb-img-responsive {
        width: 53%;
    }
    #sp-footer3 .page-content {
        margin-left: -90px;
    }
    #sp-footer2{
        padding-top: 25px !important;
    }
    .bt_footer {
        color: #fff !important;
        border-color: #4571a6;
        background-color: rgb(138, 195, 73);
        box-shadow: 0 2px 5px rgba(0,0,0,0.15);
        padding: 4px 31px !important;
        margin-left: 18px !important;
    }

    .sp-page-builder .page-content #footer1 {
        padding-top: 30px;
        margin-bottom: -25px !important;
    }
    #sp-footer .sponsor_logos {
        display: inline-flex;
    }
    .sponsor_logos img {
        padding: 0px 15px;
    }
    /* Must be last */
    .sp-page-builder .page-content {
        padding: 0px 0px 20px 0px !important;
        /*margin: 0px 0px 0px 0px !important;*/
    }
    #footer1 .foot{
        margin-left: 40px;
    }
    #sp-section-9 .col-md-12 {
        margin-top: 3px;
    }
    #sp-main-body {
        margin-top: 0px !important;
    }
    /* Homepage */
    .itemid-435 #sp-main-body {
        margin-top: 3px !important;
    }
    #affiliations{
        text-align: center;
    }
    #affiliations .affiliations{
        display: inline-flex;
    }
    #affiliations .affiliations img {
        padding: 0px 20px;
    }

    /* Article */
    .default_article_image {
        padding: 80px 0px 80px 0px;
        margin: -51px -350px 50px -350px !important;
        color: rgba(255, 255, 255, 1);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-position: 50% 50%;
        border-bottom: 1px solid #678dbe26;
    }
    .sp-megamenu-parent {
        margin: 0px -17px 0px 0px !important;
    }
    .sppb-addon h4{
        font-size: 25px;
        text-align: left;
        margin: 9px 0px !important;
    }
    .node_page .fa {
        padding-right: 10px;
    }
}

/* TODO Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.sp-megamenu-parent .sp-dropdown .sp-dropdown-items {
  display: -webkit-inline-box !important;
}

#sp-header #sp-menu .sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  width: 100vw !important;
  text-align: center;
  position: fixed;
  left: 0;
  margin-top: 10px;
  max-height: 30px;
}


#fading-header #sp-header #sp-menu .sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  margin-top: -7px;
}

.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: inherit;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  padding: 0px;
}

.sp-megamenu-parent .sp-has-child:hover .sp-dropdown,
.sp-megamenu-parent .sp-has-child:focus .sp-dropdown {
  width: 100vw !important;
}

/*@media screen and (min-width: 480px) {*/
@media screen {
    #sp-top2 {
        width: 102px !important;
        padding: 0.0px !important;
        border-radius: 0px 0px 6px 0px !important;
        background-color: #27405e !important;
        float: right;
        margin: -4px 0px 0px 0px;
        height: 30px;
    }
}

@media (max-width: 767px){
    #sp-top1 {
        display: none;
    }
    #sp-top2 {
        display: none;
    }
    #sp-top3 {
        display: none;
    }
}

@media (max-width: 767px) {
    #sp-logo .sp-default-logo, #sp-logo .sp-retina-logo {
        max-height: 72%;
        margin: 25px 10px 0px 0px;
    }
}


#sp-top2.col-sm-2 .sp-column {
  padding: 5px 0px 0px 27px !important;
}

#sp-top2 .pull-right, #sp-top2 .pull-right .sp-module {
  margin-left: 0 !important;
  padding-right: 0 !important;
}

#sp-top1 {
    padding-right: 0 !important;
    margin: 4px 0px 0px -295px;
    width: 95px;
}

#uct-footer .container {
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#form-sclogin-submitcreate {
  display: block;
  clear: both;
  height: 54px;
}

#form-sclogin-submitcreate button {
  width: 100% !important;
  height: 54px;
}

#form-sclogin-remember{
    margin:40px 0px 0px 0px;
}

.homepage_cal{
    width:317px !important;
    margin: 57px 0px 0px 0px !important;
}


.view-article .helix-social-share .helix-social-share-blog.helix-social-share-article {
    margin-top: 9px;
    float: right;
}

.view-article .entry-header.has-post-format {
    margin-left: 23.9%;
}

.helix-social-share .helix-social-share-blog.helix-social-share-article ul {
    padding: 2px;
    margin: 20px 0px 0px 0px !important;
    background: transparent;
    border-radius: 3px;
}


.sclogin-modal-links a {
  font-size: 15px !important;
  font-weight: 500 !important;
  letter-spacing: 0px !important;
  color: #ffffff !important;
}

.sp-megamenu-parent .sp-dropdown .sp-dropdown-items {
  list-style: square !important;
}

.sp-megamenu-parent .sp-dropdown .sp-dropdown-items li:before {
  content: '\00a0\2022\00a0\00a0';
  color: #ffffff;
  font-size: 20px;
  padding-top: 6px;
}

.sp-megamenu-parent .sp-dropdown li.sp-menu-item {
  display: inline-flex;
}

.sp-megamenu-parent >li.sp-has-child>a:hover:after {
  font-family: "peIcon7";
  content: "\e688";
  opacity: .7;
}

.sp-default-logo, .sp-retina-logo {
  object-fit: contain !important;
}

#sp-top-bar a {
  color: #ffffff !important;
  font-weight: normal !important;
  margin-top: -3px;
}

.sourcecoast .dropdown-menu {
  background-color: #5c5c5c !important;
}

#sp-page-builder .page-content .sppb-section:first-child {
    margin-top: -4px;
    padding: 30px 0px 20px 0px;
    height: 200px;
}

#sp-page-builder .page-content .sppb-section:first-child .sppb-row-container{
    line-height: 32px;
    padding: 0px 0px 0px 0px;
    font-weight: lighter;
    font-size: 21px;
    color: #e2e0e0;
}


#sp-footer3 .sp-page-builder .page-content {
    padding: 2px 0px 2px 0px !important;
}


.sp-megamenu-parent .sp-dropdown.sp-dropdown-main {
    top: 100%;
    left: -12%;
    margin-top: -17px !important;
}

#sp-footer3 .sppb-addon-content {
    color: #333333;
    font-size: 12px;
}



a#scroll-top.open {
    margin: 0px 0px -14px 0px !important;
}


.sppb-title-heading {
    margin-top: 0;
    font-size: 23px !important;
    line-height: 31px !important;
    margin-bottom: 15px;
    border: 0;
    background-color: #00000021;
    border: 0px solid #ffffff;
    border-radius: 10px;
    color: #ffffff !important;
    padding: 12px 25px;
    font-size: 31px;
    font-weight: 300 !important;
}

.flex.flip-container .flipper .front .sppb-person-information {
    padding: 0 20px;
    margin-top: 0px !important;
}

#wds-header, #wds-header a {
    padding: 12px 0px 0px 0px;
    font-size: 110%;
}

.wds-avatar {
    border: 0px;
    float: left;
    margin: -14px 9px 1px 5px;
}

/* .sppb-column .profile{ */
  /* width: 100%; */
  /* max-height:300px; */
/* } */

/*.sp-page-builder .page-content #section-id-1477904144678 {*/
  /*margin: 0px 0px 0px 0px;*/
  /*padding: 150px 0px 30px 0px;*/
  /*color: rgba(255, 255, 255, 1);*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-attachment: scroll;*/
  /*background-position: 50% 5%;*/
/*}*/


#sp-top-bar .row{
  float: right;
}
#sp-top-bar #sp-top3{
    width: 149px;
    margin: 0px -50px 0px -99px;
}


.right_icon {
  float: right;
}

.sclogin {
    height: 21px;
    margin: 4px 0px 0px 28px;
}

.top_contact {
  background-color: #93c34c;
  color: #ffffff;
  font-weight: normal;
  border-radius: 0 0 0 5px;
  padding: 2px 10px;
  display: inline-block;
  float: right;
  letter-spacing: 0px;
  margin-left: -17px;
  margin-top: -1px;
  width: 102px;
  height: 27px;
}

.top_helpdesk {
  background-color: #123456;
  /* background-color: #e44f3d; */
  color: #ffffff;
  font-weight: normal;
  border-radius: 0 0 0 5px;
  padding: 3px 15px;
  display: inline-block;
  letter-spacing: 0px;
  margin-left: -106px;
  margin-top: -3px;
  height: 29px;
}

#sp-top3 .sp-column  {
  display: inline-flex;
}

.sppb-addon-article-train h3 {
  font-size: 18px;
}

.sppb-addon-article-train .sppb-col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-left: 50px;
  padding-right: 15px;
}

#sp-topsearch {
  width: 50px;
  float: right;
}

#sp-header .logo {
  height: 90px;
  margin: -22px 0px !important;
}

.sticky a.logo {
  height: 90px;
  margin: -22px 0px !important;
}

.sticky .h3a-slogan {
    display: none;
    max-width: 121%;
    margin: -46px 0px 0px 325px !important;
}

#sp-header #sp-menu .sp-column .sp-megamenu-parent > li > a {
  padding: 7px 7px 29px 7px;
  font-size: 13px;
  line-height: 13px;
    text-transform: uppercase;
}



.fa-search:before {
  content: "\f002";
  /* width: 77%; */
  font-size: 21px;
}



/*Sticky banner*/
.sticky .sticky__wrapper {
  height: 90px !important;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: #ffffff;
}

#fading-header #sp-header {
  height: 90px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: #ffffff;
}

.sticky__wrapper .logo {
  margin: 9px 0px 0px 0px !important;
  width: 95%;
}

.sticky__wrapper .top-search-wrapper .icon-top-wrapper i.pe {
    line-height: 0px !important;
    margin: 1px 0px 0px 0px;
}

.sticky #sp-menu{
    margin-top: 29px !important;
}

.sticky .sticky__wrapper .sp-retina-logo, .sticky .sticky__wrapper .sp-default-logo{
  margin-top:54px !important;
  width: 95% !important;
}

#fading-header #sp-header .logo {
  margin: 9px 0px 0px 0px;
  width: 83%;
}

#fading-header #sp-header #sp-menu .sp-column .sp-megamenu-parent > li > a {
  padding: 9px 7px 7px 7px;
}

#fading-header .sp-dropdown-main {
  margin-top: 11px !important;
}

#fading-header #sp-topsearch {
  padding: 12px 0px 0px 0px;
}



.four_boxes {
  padding: 20px 0px !important;
  margin: 0px;
}

.four_boxes .four_boxes_text {
  font-weight: 400;
  display: inline-block;
  font-size: 18px;
  margin-left: -10px;
  margin-top: 3px;
}

.four_boxes_{
  background-color: #ffffff;
  border-radius: 4px;
  height: 37px;
  text-align: center;
    padding: 5px 0px 0px 0px;
}

.four_boxes_txt {
  width: 32px;
  height: 34px;
  float: left;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  padding: 4px;
}

.four_boxes_img{
  width: 32px;
  height: 34px;
  float: left;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  padding: 4px;
    margin: -5px 0px 0px 0px;
  }

.four_boxes_blue_border {
  border: 2px solid #2196f3;
}

.four_boxes_blue {
  background-color: #2196f3;
}

.four_boxes_red_border {
  border: 2px solid #f44336;
}

.four_boxes_red {
  background-color: #f44336;
}

.four_boxes_yellow_border {
  border: 2px solid #ffc107;
}

.four_boxes_yellow {
  background-color: #ffc107;
}

.four_boxes_green_border {
  border: 2px solid #8bc34a;
}

.four_boxes_green {
  background-color: #8bc34a;
}


.homepage .latest-post-inner{
  background: #fff;
  padding: 20px;
  border: none;
  box-shadow: none;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  border: 1px solid #bfcee3 !important;
}

.homepage .cat_training{
  background-color: #2196f3;
}

.cat_training_bot_border{
  border-bottom: 1px solid #2196f3;
}


.homepage .cat_tools {
  background-color: #f44336;
}

.cat_tools_bot_border{
  border-bottom: 1px solid #f44336;
}

.homepage .cat_comm {
  background-color: #8bc34a;
}

.comm .fa {
    color: #8bc34a;
}

.about .fa{
    color: #27405e;
}

.training .fa{
    color: #2196f3;
}

.training .sppb-addon-accordion .fa {
    color: #fff;
}

.tools .fa{
    color: #f44336;
}

.resources .fa {
    color: #ffc107;
}

.datastds .fa{
    color: #b35eac;
}

.sp-menu-item .fa{
    font-size: 12px;
}

.homepage .cat_dat {
  background-color: #b35eac;
}

.four_boxes_purple_border {
    border: 2px solid #b35eac;
}

.four_boxes_purple {
    background-color: #b35eac;
}



.cat_comm_bot_border{
  border-bottom: 1px solid #8bc34a;
}

.homepage .cat_research {
  background-color: #ffc107;
}

.cat_research_bot_border{
  border-bottom: 1px solid #ffc107;
}

.homepage .post_cat {
    float: left;
    width: 100% !important;
    height: 26px;
    margin: 0px 0px 15px 0px !important;
    padding: 0px !important;
}

.homepage_header{
  margin-bottom: -15px;
  margin-top: -10px;
}

.homepage_post_img{
  margin-left: 44%;
  width: 33px;
  height: 25px;
  margin-top: 0px;
}


.sp-page-builder .page-content #section-id-1506508293655 {
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 50px 0px !important;
}

.focus{
  min-width: 24.6%;
  /* margin: 0.5%; */
  margin-right: 0.5%;
}

.focus_title{
  height: 41px;
  color: white;
  font-weight: 500;
  vertical-align: middle;
  padding: 7px 0px 0px 45px;
}

.focus_content {
  margin: 5px;
}

.focus_img{
  height: 40px;
  width: 40px;
}

.sppb-addon.homepage_header h3.sppb-addon-title{
  font-weight: 700;
}

.sp-page-builder .page-content #section-id-1508834429005 {
  margin: 0px 0px 0px 0px;
  padding: 50px 0px 10px 0px !important;
}

.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a {
  margin-top: 2px;
}

.sppb-btn-newsletter1 .sppb-btn{
  font-size: 20px;
  margin-top: 8px;
}

.sppb-btn-newsletter1.sppb-addon-cta .sppb-btn i {
    margin-right: -102px;
    margin-left: 52px;
}

.sppb-btn-newsletter1 img{
    margin-bottom: -15px !important;
}

.homepage h3.sppb-addon-title {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px;
    width: 100%;
    text-align: left;
}

.h3a_footer{
    height: 45px;
    padding: 0px;
}


.nih_footer{
    height: 40px;
    padding: 0px;
}

.nhgri_footer{
    height: 40px;
    padding: 0px;
}

.text_footer{
    font-size: 13px;
    line-height: 1.5em;
}




#sp-footer a {
    color: #d6d6d6;
    margin-bottom: 5px !important;
}


.footer2{
    border-top: 1px solid #5883b3;
    font-size: 14px;
    line-height: 1.5em;
}

#sp-footer .social-icons .fa{
    font-size: 20px;
    color: #92c44b;
}

#sp-footer .social-icons li {
    border-bottom: none;
}

.sclogin .sclogin-joomla-login.vertical input#sclogin-username.input-block-level, .sclogin .sclogin-joomla-login.vertical input#sclogin-passwd.input-block-level{
    width: 100% !important;
}


/* Social */
#sp-top1 .social-icons .fa {
    font-size: 20px;
    color: #92c44b;
}


#sp-top1 .col-md-2{
    width: 33.666667%;
}

.flex.flip-container .flipper .back .sppb-person-introtext {
    padding: 0px;
}

.flex.flip-container .flipper .back .sppb-person-block .sppb-person-information.flip {
    padding: 0px;
}

.flex.flip-container .front .sppb-addon .sppb-addon-content{
    display:inline-flex !important;
}



.sppb-addon h3.sppb-addon-title:after {
    clear: both;
    display: block;
    float: left;
    content: none !important;
    position: relative;
    height: 2px;
    width: 70%;
    margin: 10px 30% 0 0;
    border-radius: 2px;
    padding: 0;
}

.flex .latest-post .latest-post-item .latest-post-inner h2.entry-title {
    font-size: 110% !important;
    padding: 15px 15px 0px 15px !important;
}

.flex .latest-post .latest-post-item .latest-post-inner p.intro-text {
    margin: 10px 0 0;
    line-height: 1.5em !important;
    padding: 0px 15px 15px 15px !important;
}

.flex .latest-post .latest-post-item .latest-post-inner {
    padding: 0px !important;
    box-shadow: inset 0 0 0px 1px #fff;
    min-height: 200px;
    max-height: 200px;
}

.current_events{
    border: 1px solid #bfcee3;
    padding: 1px;
}

div#klixoSlider_166 div.textContent {
    color: #000000;
    font-size: 12px;
    height: 90px !important;
    margin: 0px;
}

.node_facts .sppb-img-responsive {
    display: none;
    max-width: 100%;
    height: auto;
}

.node_facts  h3 {
    font-size: 19px !important;
    padding-left: 128px;
    margin: 4px 40px 0px 0px;
}

.node_facts  h3 a {
    color: #f44336;
}

.node_facts h2.sppb-addon-title .sppb-addon-title-icon {
    padding-left: 10px !important;
}

.node_facts .sppb-article-introtext{
    line-height: 1.4;
    margin: 6px 0px 0px 0px;
}

.footer h3.sppb-addon-title{
    border-bottom: 1px solid #ccc;
}
.article_content{
    display: inline-block;
    width: 1140px;
}

.article_content ul >li{
    border-bottom: 1px solid #e8e8e8;
}

.article_content h3 {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}

/*.sppb-addon-header.sppb-text-left{*/
    /*border-bottom: 1px solid #ccc;*/
    /*padding: 0px 0px 0px 0px;*/
/*}*/

.sppb-addon-header h3.sppb-addon-title {
     margin: 0px 0px 5px 0px !important;
 }

.sppb-addon-module h3.sppb-addon-title {
    margin: 0px 0px 0px 0px !important;
    border-bottom: 1px solid #ccc;
    font-size: 25px !important;
}

@media (min-width: 992px){
    .sppb-col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 30px !important;
    }
}


@media screen and (min-width: 480px){
    .sppb-section-title h4, .banner-heading > div > h4, .banner-heading > div > h4 > span {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 28px !important;
        font-weight: 400 !important;
    }
}



.menu .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;'/.'
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
    color: #29405d;
}


/* For the map*/
#column-id-1538991780433 {
    border-color: #fff !important;
}

.intro .sppb-column-addons {
    max-height: 350px !important;
}

.focus .fa, .four_boxes_ .fa {
    font-size: 20px;
    color: #fff;
    padding: 6px 0px;
}

.focus_img {
    width: 32px;
    height: 34px;
    float: left;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    padding: 4px !important;
    font-size: 27px !important;
    margin: 3px 0px 0px 2px !important;
}

#sp-footer {
    color: #d1d2d4 !important;
}

.homepage_cal .clearfix {
    margin: -50px 0px !important;
}

.sppb-embed-responsive.sppb-embed-responsive-16by9 {
    padding-bottom: 64.25% !important;
}

.post_cat .fa {
    font-size: 20px;
    color: #fff;
}

.home-fa {
    width: 32px;
    height: 32px;
    float: left;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    padding: 4px;
    margin: 0px 0px 0px 26px;
    background-color: #FFFFFF !important;
    font-size: 18px;
    color: #6a8fc2;
}

#sp-page-builder .sppb-section.training a{
    color: #2196f3 !important;
}

.node_list .btn-primary, .button, .btn-readmore, .sppb-btn-primary, .vm-button-correct {
    width: 100%;
}

.sppb-addon-module .node_list ul {
    padding: 15px;
}

.node_page .sppb-carousel-inner>.sppb-item {
    padding: 60px 10px;
}

.page-footer{
  background-color: #337ab7;
  color: #ffffff;
  position:initial;
  bottom:0;
  width:100%;
  height:160px;
  padding: 20px 0px 0px 100px;
  flex-shrink: 0;
  margin-top: 30px;
  font-size: 0.8em;
}

.col .footer-link {
  color: #fff;
}

.page-footer a {
  color: #fff;
}

/* @media (min-width: 1200px){
  .container {
      max-width: 1140px;
      min-height: 800px;
  }
} */

.page-footer .container-fluid, .page-footer .row {
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}