<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="mainLayout">
<head>
    <title>About</title>
</head>
<body>

<div  class="row" layout:fragment="content">
    <div class="section col push-m1 m10">
        <h5>About Us</h5>
        <div class="divider"></div>
        <div class="section">
            <div class="col s5">
                <p>
                    The Human Heredity and Health in Africa (H3Africa) Initiative aims to facilitate a contemporary
                    research approach to the study of genomics and environmental determinants of common diseases with
                    the goal of improving the health of African populations. Data and biospecimens from H3Africa
                    projects are available for further use, with access controlled by a Data and Biospecimen Access
                    Committee. The data is housed in the European Genome-phenome Archive and the biospecimens in three
                    H3Africa biorepositories. This catalogue is to enable users to search for datasets or biospecimens
                    of interest.
                </p>

                <a class="waves-effect waves-light btn-large h3africa" href="https://h3africa.org/"
                   style="width: 90%;">
                    Visit the H3Africa website</a>
            </div>
            <div class="col offset-s1 s4" style="background-color: #ececec;">
                <p style="padding: 1rem;">
                    The Catalogue is updated periodically with metadata from studies uploaded from the H3Africa Archive
                    and the corresponding biospecimen metadata uploaded from the following biorepositories:
                </p>

                <a class="waves-effect waves-light btn-large h3africa" href="http://www.ibru.mak.ac.ug/"
                   style="width: 93%; margin-left: 1rem;">
                    IBRH3AU</a>
                <p></p>
                <a class="waves-effect waves-light btn-large h3africa" href="http://www.cls.co.za/"
                   style="width: 93%; margin-left: 1rem;">
                    CLS</a>
                <p></p>
                <a class="waves-effect waves-light btn-large h3africa" href="http://www.ihvnigeria.org"
                   style="width: 93%; margin-left: 1rem; margin-bottom: 1rem;">IHVN</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
