{% extends 'mainLayout.html' %}

{% block title%}About{% endblock %}
{% block css %}
<style>
div.intro { font-size: 20px; }
</style>
{% endblock %}


{% block content %}
	<br />
	<br />
	<br />
	<br />
	<div class="card mt-4 intro">
		<div class="card-body">
			<p>The African microbiome portal is a H3Africa initiative.</p>
			<p>Its central purpose is to establish a centralized repository for microbiome metadata associated with African populations.</p>
			<p>Through this collection of African microbiome metadata, the African Microbiome Portal aims to:</p>
			<ul>
		<li class="mt-4">Gives free, open and permanent access to publicly available African microbiome-related metadata that  are harmonized, organized and interactively displayed.  The metadata files are also easily downloadable.</li>
		<li class="mt-4">Provides the most rapid and comprehensive overview of all existing African microbiome metadata;  the metadata that are represented here are extended to include sequencing technology information, various sample types as well as the studied population features such as ethnicity, country of origin , diet, lifestyle, and health status. Moreover the portal imparts  access to the original publications and sequences repository links.</li>
		<li class="mt-4">Enables submission of newly published metadata  after assessing and reviewing the submitted files following the instructions in the metadata submission guidelines section.  This is an opportunity  for researchers with common scientific objectives to contribute to the scientific community by sharing and submitting their new metadata.
			</li>
	</ul>

	<p></p>
		</div>
	</div>

{% endblock %}
