{% extends 'mainLayout.html' %}

{% block title%}About{% endblock %}

{% block content %}
		<p><b>African Microbial Portals an effort to establish a centralise repository for mocrobiome samples associated to Africa continenent. I allows users to search publically available data, submit new published data for public use and share the data for collaboration. We hope our effort help researchers and clinicians in their research and their newly available data will help to expand this database. The <b>African Microbial Portal give a free access to harmonized information and most complete overview  on samples resulting from Human</b> microbiome/metagenomic African projects (16S, 18s, shotgun) .
		<p><b>Collected information includes the</b>  type of samples, sequencing platform used and originating country and point to the original publications and  samples repositories links.</p>
		<p>More broadly, <b>African Microbial Portals gives access</b> to publications, preprints, news, events, resources and big projects about the African microbiome.</p>
		<p>Microbiome role on health and its promising therapeutic effects make it a necessary and essential field of investigation. While this field has been widely studied all over the world, the african microbiome is still lagged. <p>
		<p>Thus, H3ABioNet took the initiative to create the african microbiome portal aiming to :</p>
		<ul>
			<li>Centralizing all the projects involving  African microbiome.</li>
			<li>Acquiring the most comprehensive information pertaining to the existing human microbiome research on Africa</li>
			<li>Highlighting the gaps and missing research on African microbiome </li>
		</ul>


{% endblock %}
