<script type="text/javascript">
  function map_init(map, options) {
      {% for spot in records.itertuples %}
        var lon = "{{ spot.lon }}";
      var lat = "{{ spot.lat }}";
      // zoom to point & add it to map
      var marker = L.marker([lat, lon]);
      // var marker = L.marker([lat, lon]).addTo(map);
      var list = "<Strong>Project count: </Strong>" + "{{ spot.num_project }}" + "<br />" +
        "<Strong>Sample count: </Strong>" + "{{ spot.num_samples }}" + "<br />" +

        "<Strong>Country: </Strong>" +
        "<a href='/microbiome/results/?tags={{spot.country}}[country]'> {{ spot.country }}</a>" + "<br />"
      //marker.setContent(list).openPopup();
      marker.bindPopup(list).addTo(map);
      // .openPopup();
    {% endfor %}
      map.setView([-0.6605788, 14.8965794], 2); //1.3733, 32.2903

    }
</script>

{% comment %} <Strong>Condition: </Strong>" + "<a href='/microbiome/results/?tags={{spot.disease }}'>{{ spot.disease }}</a>" + "<br />" + {% endcomment %}
{% comment %}             "<Strong>Platform: </Strong>" + "<a href='/microbiome/results/?tags={{spot.samples__platform__platform}}'>{{ spot.samples__platform__platform }}</a>" + "<br />" + {% endcomment %}
{% comment %}             "<Strong>Sample type: </Strong>" + "<a href='/microbiome/results/?tags={{spot.sample_type }}'>{{ spot.sample_type }}</a>" + "<br />" + {% endcomment %}
{% comment %}              {% endcomment %}
