{% extends "mainLayout.html" %}
{% load leaflet_tags %}
{% comment %}  {% endcomment %}
{% load static %}
{% block js_top %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% endblock %}

{% block js %}
{% leaflet_js %}
{% endblock %}


{% block css %}
{% leaflet_css %}
<style>
.leaflet-container {  /* all maps */
		width:  100%;
		height: 120px;
}
/* Resize the "display_raw" textbox */
.django-leaflet-raw-textarea {
		width: 100%;
}

<link rel="stylesheet" type="text/css" media="all" href="{% static "css/contributors.css" %}" />


.item {
	color: white;
	padding: 0.5em 0;
	font-size: 2em;
}

.map_div {
	grid-area: map_div;
}

</style>
{% endblock %}

{% block content %}

{% comment %} <h1>African Microbiome Portal Dashboard</h1> {% endcomment %}
{% comment %} https://medium.com/wdstack/bootstrap-4-chart-js-39006427f08f {% endcomment %}
{% comment %} TODO: Need to change it to mobile friendly {% endcomment %}
{% comment %} <div class="container"> {% endcomment %}

	<div class="container">
    <div class="row">
        <div class="col-sm-6 pr-0">
            <div class="card">
                <div class="card-body">
                    <div id="body_site"></div>
                </div>
            </div>
        </div>
				<div class="col-sm-6 pl-0">
            <div class="card">
                <div class="card-body">
                    <div id="assay_type"></div>
                </div>
            </div>
        </div>
     </div>

		<div class="row">
        <div class="col-sm-6 pr-0">
            <div class="card">
                <div class="card-body">
                    <div id="disease"></div>
                </div>
            </div>
        </div>
				<div class="col-sm-6 pl-0">
            <div class="card">
                <div class="card-body">
                    <div id="platform"></div>
                </div>
            </div>
        </div>
     </div>

		<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
									<h4 align="center">Sample collection locations</h4>
									 {% leaflet_map "mapd" callback="map_init" %}
                    <div id="disease"></div>
                </div>
            </div>
				</div>
		 </div>

	</div>


{% comment %} BODY SITE {% endcomment %}

<script>
		site_pie_dict = {{site_pie_dict|safe}};
		{% comment %} TODO: Need to integrate link from server side. as https://stackoverflow.com/questions/16176390/highcharts-provide-urls-for-series-data-to-open-clickable-link {% endcomment %}
		Highcharts.chart('body_site', {
				chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie',
				options3d: {
						enabled: true,
						alpha: 45
				}
		},
		title: {
				text: 'Studies by bodysite'
		},
		subtitle: {
				text: ''
		},tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		},
		plotOptions: {
				pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
								enabled: false
						},
						showInLegend: true,
						innerSize: 100,
						depth: 45
				}
		},
		series: [{
						name: 'Body site',
						data: site_pie_dict
		}],
		credits: {
						enabled: false
		},
		});
</script>

{% comment %} ASSAY TYPE {% endcomment %}

<script>
	xdata_assay = {{xdata_assay|safe}};
	ydata_assay = {{ydata_assay|safe}};

	Highcharts.chart('assay_type', {
	chart: {
					type: 'column'
	},
	title: {
					text: 'Studies by assay type'
	},
	xAxis: {
					categories:xdata_assay,
					crosshair: true
	},
	yAxis: {
					min: 0,
					title: {
			text: 'Number of studies'
					}
	},
	tooltip: {},
	plotOptions: {
					column: {
			pointPadding: 0.2,
			borderWidth: 0
		}
	},
	series: [{
					showInLegend: false,
					name: 'Assay type',
					data: ydata_assay

	}],
	credits: {
					enabled: false
	},

	});
	</script>


 {% comment %} DISEASE {% endcomment %}

<script>
		xdata_disease = {{xdata_disease|safe}};
		ydata_disease = {{ydata_disease|safe}};

		Highcharts.chart('disease', {
		chart: {
						type: 'column'
		},
		title: {
						text: 'Studies by disease/condition'
		},
		xAxis: {
						categories:xdata_disease,
						crosshair: true
		},
		yAxis: {
						min: 0,
						title: {
				text: 'Number of studies'
						}
		},
		tooltip: {},
		plotOptions: {
						column: {
				pointPadding: 0.2,
				borderWidth: 0
			}
		},
		series: [{
						showInLegend: false,
						name: 'Disease/Condition',
						data: ydata_disease

		}],
		credits: {
						enabled: false
		},
		});
		</script>



{% comment %} PLAFORM {% endcomment %}



<script>
		platform_pie_dict = {{platform_pie_dict|safe}};
		Highcharts.chart('platform', {
				chart: {
				plotBackgroundColor: null,
				plotBorderWidth: null,
				plotShadow: false,
				type: 'pie',
				options3d: {
						enabled: true,
						alpha: 45
				}
		},
		title: {
				text: 'Studies by Sequencing platform'
		},
		subtitle: {
				text: ''
		},tooltip: {
				pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		},
		plotOptions: {
				pie: {
						allowPointSelect: true,
						cursor: 'pointer',
						dataLabels: {
								enabled: false
						},
						showInLegend: true,
						innerSize: 100,
						depth: 45
				}
		},
		series: [{
						name: 'Platform',
						data: platform_pie_dict
		}],
		credits: {
						enabled: false
		},
		});
</script>

{% for spot in all_records %}
	{% if spot.lat == None %}
		{{spot.lat }}
		{% endif %}
{% endfor %}

 <script type="text/javascript">
      function map_init(map, options){
          {% for spot in records.itertuples %}
              var lon = "{{ spot.lat }}";
              var lat = "{{ spot.lon }}";
              // zoom to point & add it to map
              var marker = L.marker([lat, lon]);
              // var marker = L.marker([lat, lon]).addTo(map);
        var list = "<Strong>Condition: </Strong>" + "<a href='http://localhost:8000/microbiome/results/?disease={{spot.disease }}'>{{ spot.disease }}</a>" + "<br />"
                       + "<Strong>Platform: </Strong>" + "{{ spot.platform }}" + "<br />"
                       + "<Strong>Sample type: </Strong>" + "{{ spot.sample_type }}" + "<br />"
                       + "<Strong>Sample count: </Strong>" + "{{ spot.sample_count }}" + "<br />"
          + "<Strong>Country: </Strong>" + "<a href='http://localhost:8000/microbiome/results/?country  ={{spot.country }}'>{{ spot.country }}</a>" + "<br />"
              //marker.setContent(list).openPopup();
        marker.bindPopup(list).addTo(map);
          // .openPopup();
          {% endfor %}
          map.setView([-0.6605788, 14.8965794], 2); //1.3733, 32.2903

      }
  </script>

{% comment %} <script type="text/javascript"> {% endcomment %}
{% comment %}                 function map_init(map, options){ {% endcomment %}
{% comment %}                                 {% for spot in all_records %} {% endcomment %}
{% comment %}                     {% if spot.lat != None and spot.lon != None %} {% endcomment %}
{% comment %}                                                 var lon = {{ spot.lat }}; {% endcomment %}
{% comment %}                   var lat = {{ spot.lon }}; {% endcomment %}
{% comment %}                                                 // zoom to point & add it to map {% endcomment %}
{% comment %}                                                 var marker = L.marker([lat, lon]); {% endcomment %}
{% comment %}                                                 // var marker = L.marker([lat, lon]).addTo(map); {% endcomment %}
{% comment %}                         var list = "<Strong>Condition: </Strong>" + "<a href='https://www.google.com'>{{ spot.DISEASE > {% endcomment %}
{% comment %}                                                                                  + "<Strong>Platform: </Strong>" + "{{> {% endcomment %}
{% comment %}                                                                                  + "<Strong>Sample type: </Strong>" + > {% endcomment %}
{% comment %}                                                                                  + "<Strong>Sample count: </Strong>" +> {% endcomment %}
{% comment %}                                 + "<Strong>Country: </Strong>" + "<a href='http://localhost:8000/microbiome/results/?c> {% endcomment %}
{% comment %}                                                 //marker.setContent(list).openPopup(); {% endcomment %}
{% comment %}                         marker.bindPopup(list).addTo(map); {% endcomment %}
{% comment %}                     {% endif %} {% endcomment %}
{% comment %}                                 // .openPopup(); {% endcomment %}
{% comment %}                                 {% endfor %} {% endcomment %}
{% comment %}                                 map.setView([-0.6605788, 14.8965794], 3); //1.3733, 32.2903 {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %}                 } {% endcomment %}
{% comment %} </script> {% endcomment %}
{% comment %}  {% endcomment %}

{% comment %} <script type="text/javascript"> {% endcomment %}
{% comment %}     //records = {{records|safe}}; {% endcomment %}
{% comment %}   function map_init(map, options){ {% endcomment %}
{% comment %}       L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', { {% endcomment %}
{% comment %}   attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community' {% endcomment %}
{% comment %} }).addTo(map); {% endcomment %}
{% comment %}       "{% for spot in all_records %}" {% endcomment %}
{% comment %}           var lon = "{{ spot.log }}"; {% endcomment %}
{% comment %}           var lat = "{{ spot.lat }}"; {% endcomment %}
{% comment %}           // zoom to point & add it to map {% endcomment %}
{% comment %}           var marker = L.marker([lat, lon]).addTo(map); {% endcomment %}
{% comment %}           var list = "<Strong>Condition: </Strong>" + "{{ spot.disease }}" + "<br>" {% endcomment %}
{% comment %}                    + "<Strong>Platform: </Strong>" + "{{ spot.platform }}" + "<br>" {% endcomment %}
{% comment %}                    + "<Strong>Sample type: </Strong>" + "{{ spot.sample_type }}" + "<br>" ; {% endcomment %}
{% comment %}           marker.bindPopup(list).openPopup(); {% endcomment %}
{% comment %}       "{% endfor %}" {% endcomment %}
{% comment %}       map.setView([-0.6605788, 14.8965794], 4); //1.3733, 32.2903 {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %}   } {% endcomment %}
{% comment %} </script> {% endcomment %}
{% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> {% endcomment %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script> {% endcomment %}
{% comment %} <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> {% endcomment %}
{% comment %}  {% endcomment %}
{% endblock %}
