{% extends 'mainLayout.html' %}
{% block title %}
   Disclaimer
{% endblock %}
{% block content %}
<div class="container" style="min-height: 40vh;">
<h3 class="text-center">Disclaimer</h3>

<p>
    The information provided on our Portal is for research purposes only. All information on the Portal is provided in good faith, 
    however we make no representation or warranty of any kind regarding the availability or completeness of the information on the Portal. 
    The information should not be used for healthcare and clinical decision making purposes.
</p>

<p>
    The Portal may contain links to other websites or content belonging to or originating from third parties. 
    Such external links are not monitored, or checked for accuracy, adequacy, validity, reliability, availability, or 
    completeness by us.
</p>
</div>
{% endblock %}
