{% load static %}

<div class="row">
	<div class="col-sm-12 col-md-4">
		<div class="panel panel-blue text-center">
			<p>
				H3ABioNet is funded by NIH Common Fund Award / NHGRI Grant Number
				U41HG006941
			</p>
		</div>
	</div>
	<div class="col-sm-12 col-md-2">
		<div class="panel panel-blue text-center">
			<img src="{% static 'img/NHGRI-logo.svg' %} " height="38px"/>
		</div>
	</div>
	<div class="col-sm-12 col-md-2">
		<div class="panel panel-blue text-center"> <a href="https://h3africa.org/"><img
					src="{% static 'img/H3Africa-white.png' %}" height="38px"/></a></div>
	</div>
	<div class="col-sm-12 col-md-2">
		<div class="panel panel-purple text-center"> <a target="_blank "
				href="https://www.facebook.com/H3ABioNet" style="padding: 5px; color:#fff;"><i
					class="fab fa-facebook-square icon-large"></i></a>
			<a target="_blank " href="https://twitter.com/H3ABioNet" style="padding: 5px; color:#fff;"><i
					class="fab fa-twitter-square"></i></a>
			<a target="_blank " href="https://www.youtube.com/channel/UCMYQE_GYsOKY6-j8z9N6Adw"
				style="padding: 5px; color:#fff;"><i class="fab fa-youtube-square"></i></a>


		</div>
	</div>
</div>
<hr style="color:#fff;">
<div class="row">
	<div class="col-sm-12 col-md-4">
		<div class="panel panel-blue text-center">
			<div class="Wrapper">
				<p>
					© {% now "Y " %} Copyright:<a href="https://h3abionet.org">
					  H3ABioNet</a>
				  </p>
			</div>

		</div>
	</div>
	<div class="col-sm-12 col-md-2">
		<div class="panel panel-blue text-center">
			<a href="https://helpdesk.h3abionet.org">Helpdesk</a>
		</div>
	</div>
	<div class="col-sm-12 col-md-2">
		<div class="panel panel-purple text-center">
			<a href="https://github.com/h3abionet/african_microbiome_portal">Github Repository</a>
		</div>
	</div>
	<div class="col-sm-12 col-md-2">
		<div class="panel panel-blue text-center"> 
			<a href="/disclaimer">Disclaimer</a>
		</div>
	</div>
	<div class="col-sm-12 col-md-2">
		<div class="panel panel-purple text-center"> 
			<a target="_blank " href="https://h3abionet.org">H3ABioNet</a>
		</div>
	</div>
</div>
