{% extends 'mainLayout.html' %} {% load static %}
{% block title%}Help{%endblock %}
{% block banner_title %}Help{% endblock %} {% block js_top%}


{% endblock %} {%block content %}

<br />
<br />
<br />
<h2 class="text-center"><strong>Tutorial</strong></h2>
<p>
The AHMP User Guide addresses following questions:
</p>
<ol>
<li><a href="#1">How to search AHMP?</a></li>
<li><a href="#2">How to use interactive panels and map?</a></li>
<li><a href="#3">How are the search results displayed?</a></li>
<li>
<a href="#4">How to submit your own metadata to enrich the portal?</a>
</li>
</ol>



<div class="page-section">

<h4 class="text-center" id="1"><strong>How to search AHMP</strong></h4>

Please visit <a href="/">Home</a> page.
<div class="row">
<img src="{% static 'img/help/search_box.png' %} " alt="" class="col-12" />
</div>
<p>
Panel 1 is the search form. It accepts multiple keywords related to body site,
			sequencing platforms, country, or Bioproject ID separated with a tab key. For
			example, qs are query terms and ts are their type (e.g. country, disease etc).
			&, | and ~ represent AND, OR and NOT boolean operations respectively. “(“
					parentheses define the query operation order. “[“ parentheses for defining the
					query type. If the query type is not provided (missing "[]"), the query term
					will be queried for all the known fields. Leaving the search form blank in a
					query will return all the studies and samples in the portal as the result.
					</p>

</div>
<div class="page-section">

					<h4 class="text-center"  id="2"><strong>How to use interactive panels and map?</strong></h4>
					<img
					src="{% static 'img/help/data_overview_circle.png' %} "
					alt=""
					class="col-12"
					/>
					<img
					src="{% static 'img/help/data_overview_map.png' %} "
					alt=""
					class="col-12"
			/>
			<p>
			Results can also be acquired using embedded links in the interactive summary
			panel (Panel 2). The overview panel is divided into 4 downloadable sub-panels,
			providing graphical overviews of the health conditions of individuals,
			sequencing platforms, sample collection body site, and assay used in the study
			The AHMP also provides an interactive summary map (panel 3). It also includes
			the ability to search for metadata by country and gives the number of projects
			and samples per country. Please note that the coordinates shown on the map
			correspond to the capital of the country and not the city where the samples
			were collected. The city where the collection took place in your query results
			(Figure 4A).
			</p>

</div>
<div class="page-section">

			<h4 class="text-center"  id="3"><strong>How are the search results displayed?</strong></h4>
			<img src="{% static 'img/help/result_table.png' %} " alt="" class="col-12" />
			<img src="{% static 'img/help/result_overview.png' %} " alt="" class="col-12" />
			<p>
			Query results are provided as a table (Panel 4). Any additional information,
			where available, can be accessed by clicking on the project title (panel 4B) .
			Users can also get access to the corresponding repository (panel 4B) and
			publications (panel 4C). Query results by clicking on the interactive panel
			(panel 5). All the results can be downloaded (panel 4A).
			</p>

</div>
<div class="page-section">

			<h4 class="text-center"  id="4"><strong>How to submit your own metadata to enrich the portal?</strong></h4>
			<p>
			Authors are requested to submit their metadata by email to @emai_address. The
			submitted metadata will be screened, reviewed, and the final decision will be
			made by the portal content team on the basis of the formatting guidelines
			outlined here. Please note that submission is only allowed by the metadata
			author and must not be submitted by a third party.
			</p>
			<p>We accept data in tabulated format with following columns</p>
			<ul>
			<li>REPOSITORY ID</li>
			<li>STUDY TITLE</li>
			<li>REPOSITORY LINK</li>
			<li>SAMPLE NUMBER</li>
			<li>STUDY LINK</li>
			<li>ASSAY TYPE</li>
			<li>TECHNOLOGY</li>
			<li>COUNTRY</li>
			<li>DISEASE</li>
			<li>STUDY DESIGN</li>
			<li>BODY SITE</li>
			<li>PLATFORM</li>
			<li>PARTICIPANT FEATURES</li>
			<li>AVERAGE SPOTLENGTH</li>
			<li>LIBRARY LAYOUT</li>
			<li>LON LAT</li>
			<li>SAMPLE TYPE</li>
			<li>COLLECTION DATE</li>
			<li>ETHNICITY</li>
			<li>URBANZATION</li>
			<li>REGION</li>
			<li>CITY</li>
			<li>TARGET AMPLICON</li>
			<li>DIET</li>
			</ul>

</div>
{% endblock %}
