<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		{% block title %}{% endblock %}
		{% block js_top %}
		{% endblock %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
		<link rel="stylesheet" href="{% static "css/custom.css" %}">
		{% block css %}
		{% endblock %}
	</head>
	<body>
		<div class="container2">
			<nav class="navbar navbar-fixed-top navbar-expand-md navbar-light bg-mibio py-md-2">
				<a class="navbar-brand text-white" href="#">
					<img src="{% static "img/bionetlogo.png" %}" width="30" height="30" class="d-inline-block align-top" alt=""><b >African Microbiome Portal</b>
				</a>
				<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="main-navigation">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item ml-auto py-0 sp-menu-item">
							<a class="nav-link dropdown text-white" href="/microbiome/about/">About</a>
						</li>
						<li class="nav-item ml-auto py-0">
							<a class="nav-link text-white" href="/microbiome/search/">Search</a>
						</li>
						{% comment %} <li class="nav-item ml-auto py-0"> {% endcomment %}
							<a class="nav-link text-white" href="/microbiome/upload/">Data Validation</a>
						{% comment %} </li> {% endcomment %}
						<li class="nav-item ml-auto py-0">
							<a class="nav-link text-white" href="/microbiome/contributor/">Contributor</a>
						</li>
						<li class="nav-item ml-auto py-0">
							<a class="nav-link text-white" href="/microbiome/publication/">Publication</a>
						</li>
						<li class="nav-item ml-auto py-0">
							<a class="nav-link text-white" href="/microbiome/resource/">Resources</a>
						</li>
						<li class="nav-item ml-auto py-0">
							<a class="nav-link text-white" href="/microbiome/help/">Help</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="container">
			{% block content %}
			{% endblock %}


		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		 <script src="/static/js/tagsinut.js"></script>
    <script>
    $("#post-form").submit(function(e){
        e.preventDefault();
        });</script>
		{% block js%}
		{% endblock %}
		{% block content2 %}
		{% endblock %}
		</div>

</body>
</html>
