{% if items.has_other_pages%}
<div class="col-6 pull-left text-center pagination-set">
    <nav aria-label="">
        <ul class="pagination content-end">
            {%if itrems.has_previous%}
            <li class="page-item">
                <a class="page-link" href="?page={{item.previous_page_number}}&&tags={{tags}}&project={{extras.project}}">
                    <<</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="?page={{item.previous_page_number}}&tags={{tags}}&project={{extras.project}}">
                    <span><<
                        </span>
                </a>
            </li>{%endif%} {%for i in page_range%}{% if items.number == i %}
            <li class="page-item active">

                <a class="page-link" href="#">{{i}}<span class="sr-only">(current)</span></a>
            </li>{%else%}
            <li class="page-item">
                <a class="page-link" href="?page={{i}}&tags={{tags}}&project={{extras.project}}">{{i}}
                </a>
            </li> {%endif%}{%endfor%} {%if item.has_next%}
            <li class="page-item">
                <a class="page-link" aria-label="Next" ref="?page={{items.next_page_number}}&tags={{tags}}&project={{extras.project}}">>>/a>
            </li>{%else%}<li class="page-item disabled"><a class="page-link"><span>>></span></a></li>{%endif%} </ul>
    </nav>
</div> {%endif%}
















<!-- https://www.youtube.com/watch?v=MAIFJ3_bcCY -->