{% extends 'mainLayout.html' %}
{% block title %}Communications{% endblock %}
{%block js%}
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
{%endblock%}
{% block content %}
	<h4>Publications</h4>
	<p><a href="/microbiome/contributor/">Kiran A</a>, Baranov PV. (2010) DARNED. A DAtabase of RNa EDiting in humans. <strong> Bioinformatics</strong>, 26:772-776. (<a href="http://dx.doi.org/10.1093/bioinformatics/btq285">PDF</a>)<span class="__dimensions_badge_embed__" data-doi="10.1093/bioinformatics/btq285" data-style="small_rectangle"></span></p>
	<h4>Please Cite</h4>
	<p>Blah Blah</p>
	<h4>New and events</h4>
	<h4>Contact Us</h4>
	<h4>Feedback</h4>
	<h4>FAQs</h4>
	<h4>Data Submission Format</h4>
{% endblock %}
