{% extends 'mainLayout.html' %}
{% block title %}Resources{% endblock %}
{% block content %}
  <br />
  <br />
  <br />
  <h3>Microbiome analysis tools</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Resouces</th>
        <th scope="col">Description</th>
        <!--th scope="col">Links</th-->
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <a href="https://microsud.github.io/Tools-Microbiome-Analysis/">Tools for Microbiome analysis</a>
        </td>
        <td>Useful R packages  for 16S rRNA gene and shotgun data analysis and visualization</td>
      </tr>
      <tr>
        <td>
          <a href="http://qiime.org/">Quantitative Insights Into Microbial Ecology (QIIME)</a>
        </td>
        <td>QIIME is a bioinformatics pipeline enabling analysis of microbiome DNA metadata. It allows to perform statistical analyses of results and generate high-quality graphs</td>
      </tr>
      <tr>
        <td>
          <a href="http://benjjneb.github.io/dada2/">dada2 R package</a>
        </td>
        <td>
          dada2 is an R package dedicated to the analysis of microbiome data
        </td>
      </tr>
  </table>
  <br /><br />


  <h3>Training Materials</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Resouces</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://www.nap.edu/read/24960/chapter/6">The National Academic Pres
          </a></td>
          <td>urrent methods for studying human microbiome project - Human and environmental chemical interactions characterization.</td>
      </tr>
      <tr>
        <td><a href="https://www.genome.gov/27552808/teaching-the-microbiome/ ">
            NIH- Teaching the microbiome</a></td>
        <td>Collection of various Internet-based tools and resources for teaching the microbiome </td>
      </tr>
      <tr>
        <td><a href="https://h3abionet.org/tools-and-services/workflows">
            16S workflow</a></td>
        <td>H3ABioNet guideline for Bioinformatic and statistical analysis on 16S rDNA data</td>
      </tr>
      <tr>
        <td><a href="http://rstudio-pubs-static.s3.amazonaws.com/425650_32b00adefb29485ba098d3bf9c6b5f82.html#10)_binning_(optional)">
            Shotgun Metagenomic analysis tutorial</a></td>
        <td>Shotgun Metagenomic analysis tutorial</td>
      </tr>



      <tr>
        <td><a href="https://endpoints.elysiumhealth.com/microbiome-explainer-e345658db2c">The Complete Guide to the Science of the Microbiome
          </a></td>
          <td>An introduction to the microbiome science as well as an orientation text about many important/different research aspects</td>
      </tr>
      <tr>
        <td><a href="http://www.mbiome.com/resources/websites/">Microbiome Therapeutics</a></td>
        <td>It contains a useful websites related to the area of microbiome research</td>
      </tr>
      <tr>
        <td><a href="https://www.nap.edu/read/24960/chapter/6">The National Academic Press</a></td>
        <td>Current methods for studying human microbiome project- Human and environmental chemicals interactions characterisation.</td>
      </tr>
      <tr>
        <td><a href="https://www.genome.gov/27552808/teaching-the-microbiome/">NIH: Teaching the microbiome</a></td>
        <td>Collection of various Internet-based tools and resources for teaching the microbiome</td>
      </tr>
  </table>
  <br /><br />

  <h3>Microbiome related databases</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Resouces</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="http://www.juit.ac.in/hcmd/home">Human OncoBiome Database</a></td>
        <td>Database of comprehensive curated information on the bacterial species present in the human cancer microbiota</td>
      </tr>
      <tr>
        <td><a href="https://microbiomedb.org/mbio/app/">MicrobiomeDB</a></td>
        <td>MicrobiomeDB is a data mining platform enabling the exploration of microbiome studies. This platform also provides visualization and analysis tools to investigate microbiome data.</td>
      </tr>
      <tr>
        <td><a href="https://db.cngb.org/microbiome/">MDB: Microbiome Database</a></td>
        <td>The microbiome Database gathers microbiome metadata. about the environment (oceanic, soil…) and host-associated microbiome. It also makes available the gene catalogs for host-associated microbiomes.</td>
      </tr>
      <tr>
        <td><a href="https://portal.hmpdacc.org/">Human Microbiome Project Data Portal</a></td>
        <td>The Human Microbiome Project Data Portal enables the exploration of studies and data associated with the human microbiome. Furthermore, this web interface provides access to the tools used to analyze microbiome.</td>
      </tr>



      <tr>
        <td><a href="http://www.homd.org/">Human Oral Microbiome Database (eHOMD)</a></td>
        <td>comprehensive and curated information o­n the bacterial species present in the human aerodigestive tract</td>
        </tr>
        <tr>
        <td><a href="https://disbiome.ugent.be/home">Disbiome database</a></td>
        <td>Database providing an overview of differential microbial composition in diseases</td>
        </tr>
        <tr>
        <td><a href="ihttps://db.cngb.org/microbiome/">MDB: Microbiome Database</a></td>
        <td>This database provides sequencing resource and  accurate metadata of metagenomics samples, as well as gene catalogs.</td>
        </tr>
        <tr>
        <td><a href="http://www.hpmcd.org/index.php">Human Pan-Microbe Communities (HPMC) database</a></td>
        <td>Database of human gastrointestinal microbiota derived from faecal samples.</td>
        </tr>
  </table>
  <br /><br />



  <h4>News and Events</h4>


  <h5>Upcoming and Current Training</h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Resouces</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="https://www.h3abionet.org/categories/event/course/16srrna-microbiome-intermediate-bioinformatics-training-20211">16S rRNA Microbiome Intermediate Bioinformatics Training 2021</a></td>
        <td>The H3ABioNet 16S rRNA Microbiome Intermediate Bioinformatics course will provide training to enable participants to gain the knowledge and skills to perform 16S rRNA microbiome data analyses using a variety of bioinformatics methods and tools.</td>
      </tr>
    </tbody>
  </table>

  {% comment %}<p>H3ABionet events will added here.</p>{% endcomment %}
{% endblock %}
