{% extends "mainLayout.html" %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% load static %}
{% comment %} {% block title %} {% endcomment %}
{% comment %}   Welcome to the database {% endcomment %}
{% comment %} {% endblock %} {% endcomment %}
{% block js %}

	<script src="{% static 'js/functions.js' %}" type="text/JavaScript"></script>
	<script src="{% static 'js/functions.js' %}" type="text/JavaScript"></script>
	<script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
{% endblock %}

{% block css%}
	<link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
	<link rel="stylesheet" href="{% static 'css/search.css'%}">
	<style>
.bootstrap-tagsinput {
  width: 100% !important;
}
</style>
{% endblock %}
{% block content %}


  <form action='/microbiome/results/' method='GET' novalidate>{% csrf_token %}
		<div class="row">
			<div class="input-group py-0">
				<div class="col-11">
					{{ form.tags|as_crispy_field}}
				</div>

				<div class="input-group-append input-group-btn">
					<button class="btn btn-secondary" type="submit">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</div>

		</div>

	</form>



	{% include "dashboard.html" %}
	{% endblock %}
