{% extends "mainLayout.html" %}
{% block title %}Summary{% endblock %}

{% block banner_title %}Summary{% endblock %}
{% load crispy_forms_tags %} {% load bootstrap4 %} {% load static %} {% load widget_tweaks %} {% block js %}

<script src="{% static 'js/functions.js' %}" type="text/JavaScript"></script>
<script src="{% static 'js/functions.js' %}" type="text/JavaScript"></script>
<script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
{% endblock %} {% block css%}
<link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
<link rel="stylesheet" href="{% static 'css/search.css'%}">
<style>
.bootstrap-tagsinput {
width: 100% !important;
}
</style>
{% endblock %} {% block content %}
<br />
<br />
<br />


{% include "dashboard.html" %} {% endblock %}
